# Sorting Data

In [1]:
import pandas as pd

In [4]:
df = pd.read_json('{"3PA":{"0.0":11.1,"1.0":8.1,"2.0":7.9,"3.0":7.7,"4.0":4.7},"3PM":{"0.0":5.1,"1.0":3.6,"2.0":3.3,"3.0":3.5,"4.0":2.1},"League":{"0.0":"NBA","1.0":"NBA","2.0":"NBA","3.0":"NBA","4.0":"NBA"},"PTS":{"0.0":32.0,"1.0":23.8,"2.0":24.0,"3.0":22.9,"4.0":14.7},"Team":{"0.0":"Golden State","1.0":"Golden State","2.0":"Golden State","3.0":"Golden State","4.0":"Golden State"},"year":{"0.0":"2015-2016","1.0":"2014-2015","2.0":"2013-2014","3.0":"2012-2013","4.0":"2011-2012"},"%3 PTS":{"0.0":0.478125,"1.0":0.4537815126,"2.0":0.4125,"3.0":0.4585152838,"4.0":0.4285714286},"per3":{"0.0":47.8125,"1.0":45.3781512605,"2.0":41.25,"3.0":45.8515283843,"4.0":42.8571428571}}')

In [5]:
df

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012

In [6]:
df.set_value(5,'year', '2016-2017')

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017

In [7]:
df

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017

In [9]:
df.sort_values('year')

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017

In [11]:
df.sort_values('year', ascending=False)

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012

In [12]:
df.sort_values('PTS')

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017

In [13]:
df.sort_values('PTS', na_position='first')

     %3 PTS   3PA  3PM League   PTS          Team       per3       year
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016

In [15]:
df['GP'] = [25, 80, 78,78, 26, None]

In [16]:
df

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN

In [17]:
df.sort_values(['GP', 'PTS'])

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN

In [18]:
df.sort_values(['GP', 'PTS'], ascending=[False, False])

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN

In [19]:
df.sort_values(['GP', 'PTS'], ascending=[False, True])

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN

##  Sort Index

In [20]:
df.sort_index()

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN

In [21]:
df.sort_index(ascending=False)

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25

In [22]:
df.sort_index(axis=0)

     %3 PTS   3PA  3PM League   PTS          Team       per3       year  GP
0  0.478125  11.1  5.1    NBA  32.0  Golden State  47.812500  2015-2016  25
1  0.453782   8.1  3.6    NBA  23.8  Golden State  45.378151  2014-2015  80
2  0.412500   7.9  3.3    NBA  24.0  Golden State  41.250000  2013-2014  78
3  0.458515   7.7  3.5    NBA  22.9  Golden State  45.851528  2012-2013  78
4  0.428571   4.7  2.1    NBA  14.7  Golden State  42.857143  2011-2012  26
5       NaN   NaN  NaN    NaN   NaN           NaN        NaN  2016-2017 NaN

In [23]:
df.sort_index(axis=1)

     %3 PTS   3PA  3PM  GP League   PTS          Team       per3       year
0  0.478125  11.1  5.1  25    NBA  32.0  Golden State  47.812500  2015-2016
1  0.453782   8.1  3.6  80    NBA  23.8  Golden State  45.378151  2014-2015
2  0.412500   7.9  3.3  78    NBA  24.0  Golden State  41.250000  2013-2014
3  0.458515   7.7  3.5  78    NBA  22.9  Golden State  45.851528  2012-2013
4  0.428571   4.7  2.1  26    NBA  14.7  Golden State  42.857143  2011-2012
5       NaN   NaN  NaN NaN    NaN   NaN           NaN        NaN  2016-2017

In [24]:
df.sort_index(axis=1, ascending=False)

        year       per3          Team   PTS League  GP  3PM   3PA    %3 PTS
0  2015-2016  47.812500  Golden State  32.0    NBA  25  5.1  11.1  0.478125
1  2014-2015  45.378151  Golden State  23.8    NBA  80  3.6   8.1  0.453782
2  2013-2014  41.250000  Golden State  24.0    NBA  78  3.3   7.9  0.412500
3  2012-2013  45.851528  Golden State  22.9    NBA  78  3.5   7.7  0.458515
4  2011-2012  42.857143  Golden State  14.7    NBA  26  2.1   4.7  0.428571
5  2016-2017        NaN           NaN   NaN    NaN NaN  NaN   NaN       NaN